// background
$body:#000;
$body-color:#fff;
// content
$app:#fff;
$app-color:#000;

// Run style app
.body{
    background:$body;
    color:$body-color;
}
.app{
    background: $app;
    color:$app-color;
}